/* @font-face {
    font-family:'Times New Roman', Times, serif'
} */

h3 {
    color: #5bc0de;
    font-family: 'Times New Roman';
    font-weight: bold;
}

h4 {
    color: #5bc0de;
    font-family: 'Times New Roman';
    font-weight: bold;
}

