/* @font-face {
    font-family:'Times New Roman', Times, serif'
} */

h2 {
    color: #5bc0de;
    font-family: 'Times New Roman';
    font-weight: bold;
}

h3 {
    color: #f7f7f7;
    font-family: 'Times New Roman';
    font-weight: bold;
}

h4 {
    color: #5bc0de;
    font-family: 'Times New Roman';
    font-weight: bold;
}

